
<h1> {{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="#" id="load-amp">Load an AMP page!</a>
<a style="margin-left: 30px" href="#" id="load-amp-2">Load another AMP page!</a>

<div id="container"></div>
