<!doctype html>
<html ⚡>
  <head>
    <!-- Standard AMP markup -->
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Hamburg in 48 Hours</title>
    <link rel="canonical" href="" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <!-- AMP extensions -->
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
</head>
<body>
  <div style="margin-top: 20px; padding: 10px;">
    <div class="col-md-12" style="background-color :white;">

     <h3 style="color:black;"> What
      are Platelets ?</h3>
      <p align="justify" style="color:black;margin-top :20px;">
          Platelets are an important component of blood because
          they are a critical part of the clotting process. They prevent or
          stop bleeding and are life-saving therapy for patients undergoing
          chemotherapy for cancer treatment, leukemia, bone marrow transplants,
          organ transplants and open heart surgery. Children undergoing therapy
          for cancer and leukemia often need platelets. Due to recent advances
          in the treatment of these illnesses, the demand for platelets is growing
          dramatically.
      </p>

      <h3 style="color:black;">
          Who can Donate Platelets ?
          </h3>


          <p align="justify" style="color:black;">
              Almost anyone can be a platelet donor. The qualifications
              are the same as for whole blood donations. Through a process call
              apheresis (pronounced ay-Fuh-REE-sis) or plateletpheresis, which is
              a technique of selectively withdrawing a single component of blood,
              you can donate platelets, Since platelets only have a shelf life of
              five days, the hospital demand for them is constant. That's why we
              depend on our platelet apheresis heroes.
          </p>

      <h3 style="color:black;">
          Why cant a large amount of platelets be collected during
          a regular blood donation ?
          </h3>


          <p align="justify" style="color:black;">
              Platelet donation allows the collection of a large
              quantity of platelets from a single donor. The specialized technology
              separates and collects just the platelets and returns the red cells
              and plasma to the donor. To equal the quantity of one platelet donation,
              we would have to combine or &quot;pool&quot; the platelets from six
              different whole blood donations from six different donors.
          </p>

      <h3 style="color:black;">
          How is a platelet donation different from a whole blood donation
          ?
      </h3>


      <ul style="color:black;">
          <li> Platelets are not collected at Blood Drives.</li>
          <li>
              Donating platelets is a very safe procedure. Sterile , single
              use collection kits and needles are used once, just for you and
              then discarded.
          </li>
          <li>
              You can donate platelets 24 times a year compared to 4 times
              in a year for whole blood.
          </li>
          <li>
              Because it takes more time to separate and collect the platelets
              from the other components in your blood, the donation takes approximately
              90 minutes. The entire process , including paperwork and health
              history, usually takes about 2 hours.
          </li>
          <li>
              Platelet Donors can not have taken any aspirin or aspirin products
              for 48 hours before their donation.
          </li>
          <li>
              You feel no different from donating blood, and are instructed
              to return to your normal (not strenuous) activities. Dizziness and
              fainting are very uncommon with platelet donors.
          </li>
      </ul>




      <h3 style="color:black;">
          Can i continue donating whole blood and be a Platelet Donor
          ?
      </h3>


      <p align="justify" style="color:black;">
          YES ! We have several donors that donate both whole blood and platelets.
          Due to the difference in donation frequency guidelines, donor can
          arrange to fit both types of donations in their schedule.
      </p>


      <h3 style="color:black;">
          Whats needed more - Whole Blood or Platelets ?
      </h3>


      <p align="justify" style="color:black;">
          BOTH !! . There is an equal need for blood and platelets. However
          since there are fewer locations for platelet donations, there is a
          small donor base and a stronger need to recruit new donors.
      </p>

      <h3 style="color:black;">
          Did you know ?
      </h3>


      <ul style="color:black;">
          <li>
              Platelets have a shelf life of only 5 days , so there is a constant
              need for platelet donors.
          </li>
          <li>
              Whole Blood Donors are eligible every 90- days or about 4 donations
              a year ; platelet donors can donate up to 24 times a year.
          </li>
          <li> Donors can donate platelets within 3 days of a whole blood donation</li>
          <li> Your Body replaces your platelets in about 24 hours.</li>
      </ul>


      <h3 style="color:black;">
          How often can I donate Platelets ?
      </h3>


      <p align="justify" style="color:black;">
          Up to 24 times a year ! Due to the flexibility of
          platelet donation, many donors create their own schedules. We have
          some donors that donate twice a month, once a month, once a year or
          whenever they can. And every donation is appreciated !!! There is
          a tremendous need for platelet donors.
      </p>


    </div>

  </div>
  <amp-install-serviceworker src="/js/service-worker.js" layout="nodisplay"></amp-install-serviceworker>
</body>
</html>
